.btn {
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;

  height: 80px;
  border: dotted 1px black;
}

.btn:hover {
  background-color: #ffb802;
}

.group {
  display: flex;
}

.value {
  display: flex;
}

.number {
  margin-right: 5px;
}

.icon {
  width: 80px;
  border: dotted 2px red;
  align-self: flex-start;
}

p {
  margin-left: 15px;
}
